/*  your css code here. If applicable */
.container {
        width: 500px;
        padding: 20px;
    }

    .form-group {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    button {
        width: 20%;
    }

    table {
        width: 100%;
        margin-top: 24px;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }